modules = ["nodejs-16", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 44468450
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn dev"

[[workflows.workflow]]
name = "Dev Server"
author = 44468450
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn dev"
